<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="~/Scripts/smoothscrolling.js"></script>
    <script src="~/Scripts/showhide.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

   
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color:#008BCE; font-size: 15pt; color:white">


        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown" style="color:white">
            <ul class="navbar-nav justify-content-cente text-danger">

                <li class="nav-item">
                    <a class="navbar-brand my-2 mr-sm-5" href="">
                        <img src="/docs/4.3/assets/brand/bootstrap-solid.svg" width="30" height="30" alt="">
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link  my-2 mr-sm-5" href="~/Asociado/Asociacion.cshtml">Asociaciones </a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle my-2 mr-sm-5" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Proyectos
                    </a>
                    <div class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="~/Liquidar/Liquidar.cshtml">Liquidar</a>
                        <a class="dropdown-item" href="#">Proyecto</a>
                        <a class="dropdown-item" href="#">s</a>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link my-2 mr-sm-5" href="#">Distribución</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link my-2 mr-sm-5" href="#">Reporte</a>

                </li>

                <li class="nav-item">
                    <a class="nav-link my-2 mr-sm-5" href="#">Mantenimiento</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link my-2 mr-sm-5" href="#">Usuarios</a>
                </li>

            </ul>
        </div>
    </nav>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @RenderBody()
</body>
</html>
